In [2]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [27]:
df = pd.read_csv("D:\\Code_bites\\area_price_multiplefeatures.csv")

In [28]:
df.head()

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [29]:
bedroom_median=df.bedroom.median()

In [15]:
df.bedroom=df.bedroom.fillna(bedroom_median)

In [16]:
df.head()

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.5   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [17]:
reg = linear_model.LinearRegression()

In [18]:
reg.fit(df[['area','bedroom','age']],df['price'])

LinearRegression()

In [20]:
reg.coef_

array([    198.47159002, -116583.73881651,  -14267.77585936])

In [21]:
reg.intercept_

656046.5390048662

In [ ]:
# calculate or predict home price 
# 3000 sq feet ,3 bed room ,  14 year ,

In [23]:
price=reg.predict([['3000',3,14]])
print(" Price of  3000 sq feet ,3 bed room ,  14 year old house : ", price)

 Price of  3000 sq feet ,3 bed room ,  14 year old house :  [701961.23057605]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

In [24]:
price=reg.predict([['3000',3,15]])
print(" Price of  3000 sq feet ,3 bed room ,  14 year old house : ", price)

 Price of  3000 sq feet ,3 bed room ,  14 year old house :  [687693.45471669]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

In [25]:
price=reg.predict([['3000',3,40]])
print(" Price of  3000 sq feet ,3 bed room ,  14 year old house : ", price)

 Price of  3000 sq feet ,3 bed room ,  14 year old house :  [330999.05823262]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

In [26]:
price=reg.predict([['3000',3,5]])
print(" Price of  3000 sq feet ,3 bed room ,  14 year old house : ", price)

 Price of  3000 sq feet ,3 bed room ,  14 year old house :  [830371.21331031]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)